@model ProyekAkhir_Teknet.Models.RegisterVaksin2

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/LoginLayout.cshtml";
}

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #eceffc;
    }

    .btn {
        padding: 8px 20px;
        border-radius: 0;
        overflow: hidden;
        &::before

    {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient( 120deg, transparent, var(--primary-color), transparent );
        transform: translateX(-100%);
        transition: 0.6s;
    }

    &:hover {
        background: transparent;
        box-shadow: 0 0 20px 10px hsla(204, 70%, 53%, 0.5);
        &::before

    {
        transform: translateX(100%);
    }

    }
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 40px;
        color: white;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109), 0 1px 1px rgba(128, 128, 128, 0.155), 0 2.1px 2.1px rgba(128, 128, 128, 0.195), 0 4.4px 4.4px rgba(128, 128, 128, 0.241), 0 12px 12px rgba(128, 128, 128, 0.35);
        h1

    {
        margin: 0 0 24px 0;
    }

    .form-input-material {
        margin: 12px 0;
    }

    .btn {
        width: 100%;
        margin: 18px 0 9px 0;
    }
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="login-form">
        <h4>Edit Pendaftar</h4>
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_daftar)

        <div class="form-group">
            @Html.LabelFor(model => model.nama, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nama, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.jenis_kelamin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.jenis_kelamin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.jenis_kelamin, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.no_hp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.no_hp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.no_hp, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.alamat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.alamat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.alamat, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
