@model IEnumerable<ProyekAkhir_Teknet.Models.TambahVaksin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LoginLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

    <table id="customers">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Jenis_Vaksin)</th>
            <th>@Html.DisplayNameFor(model => model.Gejala_Yang_Cocok)</th>
            <th>@Html.DisplayNameFor(model => model.Jumlah_Produksi)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Jenis_Vaksin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gejala_Yang_Cocok)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jumlah_Produksi)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.No_Vaksin }) |
                    @Html.ActionLink("Details", "Details", new { id = item.No_Vaksin }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.No_Vaksin })
                </td>
            </tr>
        }

    </table>
    <br />
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</body>
</html>
