@model ProyekAkhir_Teknet.Models.Register

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/LoginLayout.cshtml";
}

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #eceffc;
    }

    .btn {
        padding: 8px 20px;
        border-radius: 0;
        overflow: hidden;
        &::before

    {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient( 120deg, transparent, var(--primary-color), transparent );
        transform: translateX(-100%);
        transition: 0.6s;
    }

    &:hover {
        background: transparent;
        box-shadow: 0 0 20px 10px hsla(204, 70%, 53%, 0.5);
        &::before

    {
        transform: translateX(100%);
    }

    }
    }

    .create-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 40px;
        color: white;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109), 0 1px 1px rgba(128, 128, 128, 0.155), 0 2.1px 2.1px rgba(128, 128, 128, 0.195), 0 4.4px 4.4px rgba(128, 128, 128, 0.241), 0 12px 12px rgba(128, 128, 128, 0.35);
        h1

    {
        margin: 0 0 24px 0;
    }

    .form-input-material {
        margin: 12px 0;
    }

    .btn {
        width: 100%;
        margin: 18px 0 9px 0;
    }
    }
</style>

@using (Html.BeginForm("RegisterPasien", "Akun"))
{
    @Html.AntiForgeryToken()

<div class="create-form">
    <h4>Register</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.Nama_Pasien, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nama_Pasien, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nama_Pasien, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.No_Hp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.No_Hp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.No_Hp, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.Gejala_Pasien, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Gejala_Pasien, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Gejala_Pasien, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.Alamat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Login")
</div>
